<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
	  <pages controlRenderingCompatibilityVersion="4.0"/>

  </system.web>
	<connectionStrings>
		<add name="S24" connectionString="Data Source=203.98.86.33;Initial Catalog=orbexcoi_Success24;Persist Security Info=True;User ID=success24;Password=Shri@Suman1234567890" providerName="System.Data.SqlClient"/>
	</connectionStrings>
		<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<appSettings>
		<add key="O365site" value="https://sharepointiq.sharepoint.com/IQPortal/"/>
		<add key="O365USER" value="shrikant@sharepointiq.in"/>
		<add key="O365PWD" value="shri@143"/>
		<add key="ClientId" value="11000c9b-4c01-4062-8630-0a14f2911896"/>
		<add key="ClientSecret" value="FXzGaa2PsxRXu2yguVXlBa7ER2e7MjulmGPRq0Afvm8="/>
		<add key="HostURL" value="http://localhost:44306/"/>
		<add key="ListName" value="IQIndia"/>
		<add key="SiteName" value="Sansunic"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>